#app-container > .navbar {
    .navbar-banner {
        font-size: 25px;
        margin-left: 5px;
        margin-top: 5px;
    }

    #navbar span.icon {
        padding: 4px 5px;
        border: 3px solid #cfd2da;
        margin-right: 10px;
        border-radius: 35px;
    }
    .navbar-brand-icon {
        margin-top: -6px;
        padding: 3px 5px;
        border: 3px solid #cfd2da;
        margin-right: 10px;
        border-radius: 35px;
    }
    .navbar-nav {
        padding-top: 20px;
        margin: 0px;
        padding: 0px 2px;
        &.pull-right {
            margin: 15px;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
        }
    }

    .source-select {
        margin-top: 5px;

        .inner-span {
            display: inline-block;
            margin-right: 5px;
            font-weight: bold;
            font-size: 1.3em;
        }
        .select-box {
            display: inline-block;
            width: 225px;
            margin-right: 10px;
        }
    }
}
